body {
    background-color: lightgray;
  }
  
  h3{
    font-weight: lighter;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    color: #DB3334;
  }
  
  h1 {
    font-family: Papyrus;
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 32px;
  }
  
  #name {
    font-family: Futura;
    font-size: 14px;
    line-height: 1;
  }
  
  .description {
    font-family: Futura;
    font-size: 11px;
    line-height: 1;
  }
  
  .divider {
    border: none;
    height: 0.5px;
   
    color: #333;
    background-color: #333;
  }
  
  #icon {
   width: 50px;
   border-radius: 50%;
  }
  
  .notice {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }