@font-face {
    font-family:"custom";
    src: url("SliceSerif.woff") format("Woff");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(203, 203, 203);
}

h1 {
    font-family:"custom";
    color:rgb(203, 53, 53);
    font-size: 50px;
}